<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=0.67">
    <link rel="stylesheet" href="style.css">
    <title>Materiais</title>
</head>
<body>
    <div class="container">
        <div class="barralateral">
            <div class="br_titulo">
                <img src="images/Logo.png" class="logo">
                <p class="CEAP">CEAP</p>
            </div>
            <div class="br_perfil">
                <img class="User_image_BL" src="images/anonimo.png">
                <p class="nome_perfil_BL">Bem vindo</p>
            </div>
            <div class="br_buttons">
                <a href="listaMaterialPage"><button class="bt_lateral" >Listar Materiais</button> </a>
                <a href="addMaterialPage"><button class="bt_lateral" >Adicionar Material</button> </a>
                <a href="listaEmprestimoPage"><button class="bt_lateral" >Listar Emprestimo</button> </a>
                <a href="novoEmprestimoPage"><button class="bt_lateral" >Novo Emprestimo</button> </a>
            </div>
        </div>
        <div class="conteudo">   
            <h3 class="pagina">Home / Lista</h3>
        <div class="conteudinho">
            <h3 class="titulo">Lista de Emprestimos</h3>
            <iframe class="iframe" src="iframeEmprestimosPage"></iframe>
        </div>
    </div>
    
</body>
</html>